* {
    box-sizing: border-box;
  }

  body{
    height: 600px;
    background-color: aqua;
  }
  
  .container {
    display: flex;
    border: solid rgb(207, 204, 204) 0.1px;
    border-radius: 10px;

    width: 35%;
    margin-left: 420px;
    margin-top: 40px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    padding: 50px;  

  }
  
  #maindiv {
    justify-content: center;
    width: 100%; 
    
    display: flex;
  
    padding-top: 8px;
  }

  #g {
    color: rgb(81, 81, 249);
    font-size: 25px;
  }
  #o {
    color: red;
    font-size: 25px;
  }
  #O {
    color: orange;
    font-size: 25px;
  }
  #g {
    color: rgb(81, 81, 249);
    font-size: 25px;
  }
  #l {
    color: green;
    font-size: 25px;
  }
  #e {
    color: red;
    font-size: 25px;
  }

  button {
    padding: 10px 25px 10px 25px;
    background-color: rgb(81, 81, 249);
    color: white;
    border: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    align-items: end;
  }
  .btn{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-top: 20px;
  }

  @media  only screen and (max-width:600px){
    .container{
        display: flex;
        margin: 0;
        width: 100%;
    }
    
  }