<div class="icon">
  <div>
    <img src="../../../assets/add_alert.svg" alt="" />
  </div>
  <div>
    <img src="../../../assets/person_add.svg" alt="" />
  </div>

  <div>
    <img src="../../../assets/palette.svg" alt="" />
  </div>

  <div>
    <img src="../../../assets/images.svg" alt="" />
  </div>
  <div>
    <img (click)="archiveNote()" src="../../../assets/archive.svg" alt="" />
  </div>
  <div>
    <img [matMenuTriggerFor]="menu" src="../../../assets/more.svg" alt="" />
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="trashNote()">Delete note</button>
  <button mat-menu-item>Add label</button>
  <button mat-menu-item>Add drawing</button>
  <button mat-menu-item>Make a copy</button>
  <button mat-menu-item>Show tick boxes</button>
  <button mat-menu-item>Copy to Google docs</button>
</mat-menu>
  </div>
</div>
<div></div>
