<form [formGroup]="signin" (ngSubmit)="onsubmit()">
    <div class="container">
      <div class="google">
        <span id="g">G</span>
        <span id="o">o</span>
        <span id="O">o</span>
        <span id="g">g</span>
        <span id="l">l</span>
        <span id="e">e</span>
      </div>
      <div class="heading">
        <h1>Sign in</h1>
        <h4>Use your Google Account</h4>
      </div>
      <div class="fname">
        <mat-form-field style="width: 80%" appearance="outline">
          <mat-label>Email or phone</mat-label>
          <input matInput formControlName="email" placeholder="Email or phone" />
          <mat-hint><a routerLink="../forgotpassword" routerLinkActive="active">Forgot email?</a></mat-hint>
        </mat-form-field>
      </div>
      <div class="fname">
        <mat-form-field style="width: 80%" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Email or phone" />
          <mat-hint><a routerLink="../resetpassword" routerLinkActive="active">Forgot password?</a></mat-hint>
        </mat-form-field>
      </div>
    
      <div class="para">
        <p>Not your computer? Use Guest mode to sign in privately.</p>
        <div>
          <a href="">Learn more</a>
        </div>
      </div>
    
      <div class="info">
        <div>
          <a routerLink="../registration"  routerLinkActive="active">Create account</a>
        </div>
        <div>
          <button mat-raised-button color="primary">Next</button>
        </div>
      </div>
    </div>
    </form>
    
