<div class="container">

  <div id="maindiv">
    <span id="g">G</span>
    <span id="o">o</span>
    <span id="O">o</span>
    <span id="g">g</span>
    <span id="l">l</span>
    <span id="e">e</span>

    <h1>Create your Google Account</h1>

    <div class="flname">
      <div class="fname">
        <mat-form-field appearance="outline">
          <mat-label>Firstname</mat-label>
          <input matInput  placeholder="FirstName" />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>
      <div class="lname">
        <mat-form-field appearance="outline">
          <mat-label>Lastname</mat-label>
          <input matInput  placeholder="LastName" />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="email">
      <mat-form-field appearance="outline">
        <mat-label>UserName</mat-label>
        <input matInput  placeholder="UserName" />
        <mat-hint>You can use letters,numbers & periods</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <h4 style="color: blue">Create a new Gmail address instead</h4>
    </div>

    <div class="pass">
      <div class="pword">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput  type="password" placeholder="Password" />
          <mat-icon matSuffix></mat-icon>
          <mat-hint> Use 8 or more characters </mat-hint>
        </mat-form-field>
      </div>
      <div class="cpword">
        <mat-form-field appearance="outline">
          <mat-label>Confirm</mat-label>
          <input matInput type="password" placeholder="Confirm" />
          <mat-icon matSuffix></mat-icon>
          <mat-hint>letters, numbers & symbols</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div>
      <section class="example-section">
        <mat-checkbox  class="example-margin">Show Password </mat-checkbox>
      </section>
    </div>

    <div class="info">
      <div>
        <a style="text-decoration: none; margin-left: 20px" routerLink="../signin"  routerLinkActive="active">Sign in instead</a>
        
      </div>
      <div>
        <button mat-raised-button color="primary">Next</button>
      </div>
    </div>
  </div>
  <div class="image">
    <img
      src="https://ssl.gstatic.com/accounts/signup/glif/account.svg"
      alt=""
    />

    <p class="imginfo">
      One account. All of Google
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; working for you
    </p>
  </div>
</div>
