<div class="container">
    <div id="maindiv">
      <span id="g">G</span>
      <span id="o">o</span>
      <span id="O">o</span>
      <span id="g">g</span>
      <span id="l">l</span>
      <span id="e">e</span>
    </div>
  
    <div id="maindiv">
      <h1>Email recovery</h1>
    </div>
  
    <div id="maindiv">
      <h4>Enter your new password</h4>
    </div>
    <div id="maindiv">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Enter a new password</mat-label>
        <input matInput type="password" placeholder="Enter a password" />
      </mat-form-field>
    </div>
    <div id="maindiv">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" placeholder="Confirm password" />
      </mat-form-field>
    </div>
    <div class="btn">
      <button mat-raised-button color="primary">Next</button>
    </div>
  </div>