.DailogContainer {
  width: 500px;
  padding: 10px;
  border-radius: 5px;
 box-shadow:  rgba(60, 64, 67, 0.302),
    rgba(60, 64, 67, 0.149);
 }
.DailogContainer input {
  // width: 8%;
  outline: none;
  border: none;
  padding: 10px;
}
.IconButton {
  // width: 100%;
  // height: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
}
button {
  background-color: white;
  outline: none;
  border: none;
  font-size: medium;
  font-weight: 500;
}
#icon1{
  width: 70%;
}
#icon2{
  margin-top: 20px;
  

}
@media only screen and (max-width: 600px) {
  *{
    margin: 0%;
    padding: 0%;

  }
  .DailogContainer{
   width: 100%;
  }
  // input{
  //   width: 200px;
  // }

  .IconButton{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #icon1{
    width: 65%;
  }
  #icon2{
    width: 30%;
  }
  
}
